.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.video-background {

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    /* Your content styles here */
}

.video-container {
    display: flex;
    /* enables flexbox layout */
    flex-direction: column;
    /* aligns child elements vertically */
    align-items: center;
    /* centers child elements horizontally */
    justify-content: center;
    /* centers child elements vertically */
    position: relative;
    /* enables absolute positioning for child elements */
    height: 100%;
    /* stretch the container to take the full height of the viewport */
}

.video-container .links {
    position: absolute;
    /* positions links at the center bottom of the video container */
    bottom: 0;
    width: 100%;
    /* stretch the links to take the full width of the container */
    display: flex;
    /* enables horizontal alignment for child elements */
    align-items: center;
    /* centers child elements vertically */
    justify-content: center;
    /* centers child elements horizontally */
}

.video-container .links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    /* adds space between links */
}

.video-container .links a.yellow {
    background-color: yellow;
    padding: 5px 10px;
    /* adds padding to the link */
}

.video-container .links a.red {
    background-color: red;
    padding: 5px 10px;
    /* adds padding to the link */
}