.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.video-background {

    position: absolute;
    top: -12vh;
    left: 0;
    width: 100vw;
    height: 125vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
}

.content {
    flex-direction: column;
    display: flexbox;
    position: relative;
    z-index: 1;
    align-items: flex-end;
    align-content: flex-end;
    /* Your content styles here */
}

.video-container {
    display: flex;
    /* enables flexbox layout */
    flex-direction: column;
    /* aligns child elements vertically */
    align-items: flex-end;
    /* centers child elements horizontally */
    justify-content: flex-end;
    /* centers child elements vertically */
    position: relative;
    /* enables absolute positioning for child elements */
    height: 100%;
    /* stretch the container to take the full height of the viewport */
}

.flex {
    position: absolute;
    /* positions links at the center bottom of the video container */
    bottom: 0;
    width: 100%;
    /* stretch the links to take the full width of the container */
    display: flex;
    /* enables horizontal alignment for child elements */
    align-items: flex-end;
    /* centers child elements vertically */
    justify-content: center;
    /* centers child elements horizontally */
}


a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    /* adds space between links */
}

a.yellow {
    color: yellow;
    padding: 5px 10px;
    /* adds padding to the link */
}

a.red {
    color: red;
    padding: 5px 10px;
    /* adds padding to the link */
}