.body {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.link:link {
  color: yellow;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: center;
  align-items: center;
  justify-items: center;
}